doctype html
html
  head
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/js/client.js")
    title Pizza Express!!!
  body
    .container Please Fill Out The Order Form Below
      //- form to POST a new order to the servers '/orders'
      div
        form.order-form
          p 
            select(name="size") 
              option(value="small") Small 
              option(value="medium") Medium
              option(value="large") Large 
          p Please Select Your Meat Toppings: 
            input(type="checkbox", name="toppings.meats[]", value="bacon")
            | bacon
            input(type="checkbox", name="toppings.meats[]", value="pepperoni")
            | pepperoni
            input(type="checkbox", name="toppings.meats[]", value="ham")
            | ham
            input(type="checkbox", name="toppings.meats[]", value="beef_topping")
            | beef topping
            input(type="checkbox", name="toppings.meats[]", value="italian_sausage")
            | italian sausage
            input(type="checkbox", name="toppings.meats[]", value="pork_topping")
            | pork topping
            input(type="checkbox", name="toppings.meats[]", value="grilled_chicken")
            | grilled chicken
          p Please Select Your Veggie Toppings:
            input(type="checkbox", name="toppings.veggies[]", value="spinach")
            | spinach
            input(type="checkbox", name="toppings.veggies[]", value="green_peppers")
            | green peppers
            input(type="checkbox", name="toppings.veggies[]", value="red_onions")
            | red onions
            input(type="checkbox", name="toppings.veggies[]", value="mushrooms")
            | mushrooms
            input(type="checkbox", name="toppings.veggies[]", value="black_olives")
            | black olives
            input(type="checkbox", name="toppings.veggies[]", value="tomatoes")
            | tomatoes
            input(type="checkbox", name="toppings.veggies[]", value="pineapple")
            | pineapple 
            input(type="checkbox", name="toppings.veggies[]", value="jalapenos")
            | jalapenos
            input(type="checkbox", name="toppings.veggies[]", value="garlic")
            | garlic     
          input#submitOrderButton(type="submit", value="Submit Your Order") 
      .work-header
        h1 Order Queue
      .order-list
        //- orders appear